[submodule "reinforcement_learning/lib/skrl"]
	path = reinforcement_learning/lib/skrl
	url = git@github.com:dungloi/skrl.git
[submodule "reinforcement_learning/lib/stable-baselines3"]
	path = reinforcement_learning/lib/stable-baselines3
	url = git@github.com:lyf-FATAS/stable-baselines3.git
[submodule "envs/lib/IsaacLab"]
	path = envs/lib/IsaacLab
	url = git@github.com:lyf-FATAS/IsaacLab.git
[submodule "reinforcement_learning/lib/rsl_rl"]
	path = reinforcement_learning/lib/rsl_rl
	url = git@github.com:lyf-FATAS/rsl_rl.git
